@using Microsoft.AspNetCore.Components
@code {
    // Basic template that does not add any attributes (inherits all from @attributes)
    public RenderFragment BasicCustomTemplate(TestVariantComponent component) => __builder =>
    {
        <ui-component @attributes="component.ComputedAttributes">
            <button @onclick="component.OnClick"
                    disabled="@component.Disabled">
                @component.Text
            </button>
        </ui-component>
    };

    // Simple template that adds additional data attributes
    public RenderFragment AddsDataAttributeTemplate(TestVariantComponent component) => __builder =>
    {
        <ui-component @attributes="component.ComputedAttributes"
                      data-custom-modifier="glass">
            <button @onclick="component.OnClick"
                    disabled="@component.Disabled">
                @component.Text
            </button>
        </ui-component>
    };

    // Template that overrides data attributes
    public RenderFragment OverrideDataAttributeTemplate(TestVariantComponent component) => __builder =>
    {
        <ui-component @attributes="component.ComputedAttributes"
                      data-ui-variant="override"
                      data-ui-state="custom">
            <button @onclick="component.OnClick"
                    disabled="@component.Disabled">
                Override: @component.Text
            </button>
        </ui-component>
    };

    // Template for data attributes - user attributes have priority (attributes first)
    public RenderFragment DataAttributeTemplate(TestVariantComponent component) => __builder =>
    {
        <ui-component data-variant="custom"
                      data-test="template-value"
                      @attributes="component.ComputedAttributes">
            <button @onclick="component.OnClick"
                    disabled="@component.Disabled">
                @component.Text
            </button>
        </ui-component>
    };

    // Template for data attributes - template has priority (attributes last)
    public RenderFragment DataAttributeTemplatePriority(TestVariantComponent component) => __builder =>
    {
        <ui-component @attributes="component.ComputedAttributes"
                      data-variant="custom"
                      data-test="template-value-priority">
            <button @onclick="component.OnClick"
                    disabled="@component.Disabled">
                @component.Text
            </button>
        </ui-component>
    };

    // Registered variant template
    public RenderFragment RegisteredTemplate(TestVariantComponent component) => __builder =>
    {
        <ui-component @attributes="component.ComputedAttributes"
                      data-custom="registered-variant">
            <span>Registered: @component.Text</span>
        </ui-component>
    };

    // Template that modifies attributes if needed
    public RenderFragment ModifiedAttributesTemplate(TestVariantComponent component) => __builder =>
    {
        var attrs = new Dictionary<string, object>(component.ComputedAttributes);
        attrs["data-modified"] = "true";

        <ui-component @attributes="attrs">
            <button @onclick="component.OnClick"
                    disabled="@component.Disabled">
                Modified: @component.Text
            </button>
        </ui-component>
    };
}