@namespace CdCSharp.BlazorUI.Docs.Components

<div class="props">
    <BUIDataGrid Items="@Properties.ToList()" Density="BUIDensity.Compact">
        <Columns>
            <BUIDataColumn TItem="ComponentParameterInfo" Property="@(p => p.ParameterName)" Header="Property" Width="180px">
                <Template Context="prop">
                    <code>@prop.ParameterName</code>
                </Template>
            </BUIDataColumn>
            <BUIDataColumn TItem="ComponentParameterInfo" Property="@(p => p.ParameterType)" Header="Type" Width="200px">
                <Template Context="prop">
                    <code>@prop.ParameterType</code>
                </Template>
            </BUIDataColumn>
            <BUIDataColumn TItem="ComponentParameterInfo" Property="@(p => p.ParameterDefault)" Header="Default" Width="120px">
                <Template Context="prop">
                    <code>@prop.ParameterDefault</code>
                </Template>
            </BUIDataColumn>
            <BUIDataColumn TItem="ComponentParameterInfo" Property="@(p => p.ParameterDescription)" Header="Description" />
        </Columns>
    </BUIDataGrid>
</div>

@code {
    [Parameter, EditorRequired]
    public ComponentParameterInfo[] Properties { get; set; } = [];
}
