@using CdCSharp.BlazorUI.Components

<div class="test-button-consumer">
    <BUIButton Text="@ButtonText" 
               OnClick="@HandleClick"
               Variant="@Variant"
               Size="@Size"
               Disabled="@Disabled"
               IsLoading="@IsLoading"
               LoadingIndicatorVariant="@LoadingVariant">
    </BUIButton>
    
    <div class="click-count">Clicks: @_clickCount</div>
</div>

@code {
    [Parameter] public string ButtonText { get; set; } = "Test Button";
    [Parameter] public BUIButtonVariant? Variant { get; set; }
    [Parameter] public BUISize Size { get; set; } = BUISize.Medium;
    [Parameter] public bool Disabled { get; set; }
    [Parameter] public bool IsLoading { get; set; }
    [Parameter] public BUILoadingIndicatorVariant? LoadingVariant { get; set; }
    [Parameter] public EventCallback<int> OnButtonClicked { get; set; }
    
    private int _clickCount = 0;
    
    private async Task HandleClick()
    {
        _clickCount++;
        await OnButtonClicked.InvokeAsync(_clickCount);
    }
}