<div class="props">
    <BUIDataGrid Items="@Properties.ToList()" Density="DensityEnum.Compact">
        <Columns>
            <BUIDataColumn TItem="PropertyDefinition" Property="@(p => p.Name)" Header="Property" Width="180px">
                <Template Context="prop">
                    <code>@prop.Name</code>
                </Template>
            </BUIDataColumn>
            <BUIDataColumn TItem="PropertyDefinition" Property="@(p => p.Type)" Header="Type" Width="200px">
                <Template Context="prop">
                    <code>@prop.Type</code>
                </Template>
            </BUIDataColumn>
            <BUIDataColumn TItem="PropertyDefinition" Property="@(p => p.Default)" Header="Default" Width="120px">
                <Template Context="prop">
                    <code>@prop.Default</code>
                </Template>
            </BUIDataColumn>
            <BUIDataColumn TItem="PropertyDefinition" Property="@(p => p.Description)" Header="Description" />
        </Columns>
    </BUIDataGrid>
</div>

@code {
    [Parameter, EditorRequired]
    public IEnumerable<PropertyDefinition> Properties { get; set; } = [];
}
