@namespace CdCSharp.BlazorUI.Components.Layout

@inherits BUIVariantComponentBase<BUICard, BUICardVariant>
@implements IHasShadow
@implements IHasBorder
@implements IHasBackgroundColor
@implements IHasColor

@{
    base.BuildRenderTree(__builder);
}

@code {
    /* === Content Parameters === */

    [Parameter] public RenderFragment? Header { get; set; }
    [Parameter] public RenderFragment? Media { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public RenderFragment? Actions { get; set; }

    /* === Behavior Parameters === */

    [Parameter] public bool Clickable { get; set; }
    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }

    [Parameter] public string? MediaHeight { get; set; }
    [Parameter] public CardMediaPosition MediaPosition { get; set; } = CardMediaPosition.Top;

    [Parameter] public CardActionsAlignment ActionsAlignment { get; set; } = CardActionsAlignment.End;

    // === IHasShadow === //
    [Parameter] public ShadowStyle? Shadow { get; set; }

    /* === IHasBorder === */

    [Parameter] public BorderStyle? Border { get; set; }

    /* === IHasBackgroundColor === */

    [Parameter] public string? BackgroundColor { get; set; }

    /* === IHasColor === */

    [Parameter] public string? Color { get; set; }

    /* === Variant === */

    public override BUICardVariant DefaultVariant => BUICardVariant.Default;

    protected override Dictionary<BUICardVariant, Func<BUICard, RenderFragment>> BuiltInTemplates { get; } = new()
    {
        [BUICardVariant.Default] = c => c.RenderCard(),
    };

    /* === Render Methods === */

    private RenderFragment RenderCard() => __builder =>
    {
        <bui-component @attributes="ComputedAttributes"
                       data-bui-clickable="@Clickable.ToString().ToLowerInvariant()"
                       data-bui-media-position="@MediaPosition.ToString().ToLowerInvariant()">

            <div class="bui-card"
                 @onclick="HandleClick">

                @if (MediaPosition == CardMediaPosition.Top)
                {
                    @RenderMedia()
                }

                @if (Header != null)
                {
                    <div class="bui-card__header">
                        @Header
                    </div>
                }

                @if (MediaPosition == CardMediaPosition.AfterHeader)
                {
                    @RenderMedia()
                }

                @if (ChildContent != null)
                {
                    <div class="bui-card__content">
                        @ChildContent
                    </div>
                }

                @if (MediaPosition == CardMediaPosition.BeforeActions)
                {
                    @RenderMedia()
                }

                @if (Actions != null)
                {
                    <div class="bui-card__actions @GetActionsClass()">
                        @Actions
                    </div>
                }

                @if (MediaPosition == CardMediaPosition.Bottom)
                {
                    @RenderMedia()
                }
            </div>
        </bui-component>
    };

    private RenderFragment RenderMedia() => __builder =>
    {
        @if (Media != null)
        {
            <div class="bui-card__media">
                @Media
            </div>
        }
    };

    /* === Helper Methods === */

    private string GetActionsClass()
    {
        List<string> classes = new();

        classes.Add($"bui-card__actions--{ActionsAlignment.ToString().ToLowerInvariant()}");

        return string.Join(" ", classes);
    }

    private async Task HandleClick(MouseEventArgs args)
    {
        if (Clickable && OnClick.HasDelegate)
        {
            await OnClick.InvokeAsync(args);
        }
    }

    public override void BuildComponentCssVariables(Dictionary<string, string> cssVariables)
    {
        base.BuildComponentCssVariables(cssVariables);

        if (MediaHeight != null)
        {
            cssVariables["--bui-card-inline-media-height"] = MediaHeight;
        }
    }
}