@page "/components/forms/input-date"
@using CdCSharp.BlazorUI.Components.Forms
@using System.ComponentModel.DataAnnotations

<h3>Test de componentes de fecha</h3>

<EditForm Model="@model">
    <DataAnnotationsValidator />

    <div style="display: flex; flex-direction: column; gap: 1rem;">

        <div>
            <BUIInputDateTime Label="DateOnly" @bind-Value="model.DateOnly" />
        </div>

        <div>
            <BUIInputDateTime Label="TimeOnly" @bind-Value="model.TimeOnly" />
        </div>

        <div>
            <BUIInputDateTime Label="DateTime" @bind-Value="model.DateTime" />
        </div>

        <div>
            <BUIInputDateTime Label="DateTimeOffset" @bind-Value="model.DateTimeOffset" />
        </div>

    </div>
</EditForm>

<p>
    <strong>Valores actuales:</strong><br />
    DateOnly: @model.DateOnly<br />
    TimeOnly: @model.TimeOnly<br />
    DateTime: @model.DateTime<br />
    DateTimeOffset: @model.DateTimeOffset<br />
</p>

@code {
    private DateTestModel model = new()
    {
    };

    public class DateTestModel
    {
        [Required]
        public DateOnly? DateOnly { get; set; }

        [Required]
        public TimeOnly? TimeOnly { get; set; }

        [Required]
        public DateTime? DateTime { get; set; }

        [Required]
        public DateTimeOffset? DateTimeOffset { get; set; }
    }
}