@page "/test2"
@using CdCSharp.BlazorUI.AppTest.Wasm.Shared

<!-- BASIC DECLARATIVE -->
<section class="doc-section">
    <h2>Basic declarative usage</h2>
    <ComponentDemo Definition="@BasicDeclarativeDemo" />
</section>

@code {
    private ComponentDemoDefinition BasicDeclarativeDemo => new()
    {
        Demo = RenderBasicDeclarative(),
        Code = """
<BUITreeMenu TItem="object">
    <BUITreeMenuItem Text="Home" Icon="@BUIIcons.UI.Home" />
    <BUITreeMenuItem Text="Products" Icon="@BUIIcons.UI.Box" InitiallyExpanded>
        <ChildContent>
            <BUITreeMenuItem Text="All Products" />
            <BUITreeMenuItem Text="Categories" />
        </ChildContent>
    </BUITreeMenuItem>
    <BUITreeMenuItem Text="Settings" Icon="@BUIIcons.UI.Settings" />
</BUITreeMenu>
"""
    };

    private RenderFragment RenderBasicDeclarative() => __builder =>
    {
        <BUITreeMenu TItem="object">
            <BUITreeMenuItem Text="Home" Icon="@BUIIcons.MaterialIconsOutlined.i_home" />
            <BUITreeMenuItem Text="Products" Icon="@BUIIcons.MaterialIconsOutlined.i_inbox" InitiallyExpanded>
                <ChildContent>
                    <BUITreeMenuItem Text="All Products" />
                    <BUITreeMenuItem Text="Categories" />
                </ChildContent>
            </BUITreeMenuItem>
            <BUITreeMenuItem Text="Settings" Icon="@BUIIcons.UI.Settings" />
        </BUITreeMenu>
        ;
    };
}
