@namespace CdCSharp.BlazorUI.Components
@attribute [GenerateComponentInfo]

@inherits BUIVariantComponentBase<BUISvgIcon, BUISvgIconVariant>
@implements IHasSize
@implements IHasColor

@{
    base.BuildRenderTree(__builder);
}

@code {
    [Parameter][EditorRequired] public required string Icon { get; set; }
    [Parameter] public string? Title { get; set; }
    [Parameter] public SizeEnum Size { get; set; } = SizeEnum.Medium;
    [Parameter] public string? Color { get; set; }
    [Parameter] public string ViewBox { get; set; } = "0 0 24 24";
    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }

    public override BUISvgIconVariant DefaultVariant => BUISvgIconVariant.Default;

    protected override Dictionary<BUISvgIconVariant, Func<BUISvgIcon, RenderFragment>> BuiltInTemplates { get; } = new()
    {
        [BUISvgIconVariant.Default] = b => b.RenderDefault(),
    };

    private RenderFragment RenderDefault() => __builder =>
    {
        <bui-component @attributes="@ComputedAttributes"
                      @onclick="@OnClick">
            <svg focusable="false"
                 viewBox="@ViewBox"
                 aria-hidden="true">
                @if (Title != null)
                {
                    <title>@Title</title>
                }
                @((MarkupString)SvgMarkupSanitizer.Sanitize(Icon))
            </svg>
        </bui-component>
    };
}