@using CdCSharp.BlazorUI.Components.Abstractions
@using CdCSharp.BlazorUI.Components.Features.Common
@using CdCSharp.BlazorUI.Core.Css
@using CdCSharp.BlazorUI.Css
@using CdCSharp.BlazorUI.Media.Icons
@using Microsoft.AspNetCore.Components.Web

@inherits UIVariantComponentBase<UISvgIcon, UISvgIconVariant>
@implements IHasSize
@implements IHasColor

@{
    base.BuildRenderTree(__builder);
}

@code {

    [Parameter][EditorRequired] public required string Icon { get; set; }

    [Parameter] public string? Title { get; set; }

    [Parameter] public SizeEnum Size { get; set; } = SizeEnum.Medium;

    [Parameter] public CssColor? Color { get; set; }

    [Parameter] public string ViewBox { get; set; } = "0 0 24 24";

    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }

    protected override UISvgIconVariant DefaultVariant => UISvgIconVariant.Default;

    protected override Dictionary<UISvgIconVariant, Func<UISvgIcon, RenderFragment>> BuiltInTemplates { get; } = new()
    {
        [UISvgIconVariant.Default] = b => b.RenderDefault(),
    };

    private RenderFragment RenderDefault() => __builder =>
    {
        <ui-component @attributes="@ComputedAttributes"
                      data-ui-component="svg-icon"
                      @onclick="@OnClick">
            <svg focusable="false"
                 viewBox="@ViewBox"
                 aria-hidden="true">
                @if (Title != null)
                {
                    <title>@Title</title>
                }
                @((MarkupString)Icon)
            </svg>
        </ui-component>
    };
}