@namespace CdCSharp.BlazorUI.Components
@attribute [GenerateComponentInfo]

@inherits BUIVariantComponentBase<BUIButton, BUIButtonVariant>
@implements IHasTransitions
@implements IHasSize
@implements IHasFullWidth
@implements IHasLoading
@implements IHasShadow
@implements IHasRipple
@implements IHasDensity
@implements IHasBorder
@implements IHasBackgroundColor
@implements IHasColor
@implements IHasDisabled

@{
    base.BuildRenderTree(__builder);
}

@code {
    /* ========= Public API ========= */

    /// <summary>Customizable Button content.</summary>
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? Text { get; set; }
    [Parameter] public string? LeadingIcon { get; set; }
    [Parameter] public string? TrailingIcon { get; set; }
    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }

    // IHasTransitions
    [Parameter] public BUITransitions? Transitions { get; set; }

    // IHasSize
    [Parameter] public BUISize Size { get; set; } = BUISize.Medium;

    // IHasFullWidth
    [Parameter] public bool FullWidth { get; set; }

    // IHasLoading
    [Parameter] public bool Loading { get; set; }
    [Parameter] public BUILoadingIndicatorVariant? LoadingIndicatorVariant { get; set; }

    // IHasShadow
    [Parameter] public ShadowStyle? Shadow { get; set; }

    // IHasBorder
    [Parameter] public BorderStyle? Border { get; set; }

    // IHasRipple
    [Parameter] public bool DisableRipple { get; set; }
    [Parameter] public string? RippleColor { get; set; }
    [Parameter] public int? RippleDurationMs { get; set; }

    // IHasDensity
    [Parameter] public BUIDensity Density { get; set; } = BUIDensity.Standard;

    // IHasBackgroundColor
    [Parameter] public string? BackgroundColor { get; set; }

    // IHasColor
    [Parameter] public string? Color { get; set; }

    // IHasDisabled
    [Parameter] public bool Disabled { get; set; }
    public bool IsDisabled => Disabled || Loading;

    // IJsBehavior
    public ElementReference GetRippleContainer() => _buttonElement;

    /* ========= Variant ========= */

    public override BUIButtonVariant DefaultVariant => BUIButtonVariant.Default;

    protected override Dictionary<BUIButtonVariant, Func<BUIButton, RenderFragment>> BuiltInTemplates { get; } = new()
    {
        [BUIButtonVariant.Default] = b => b.RenderDefault(),
    };

    /* ========= Private state ========= */

    private ElementReference _buttonElement;

    /* ========= Render ========= */

    private RenderFragment RenderDefault() => __builder =>
{
    <bui-component @attributes="@ComputedAttributes">
        <button @ref="_buttonElement"
                type="button"
                disabled="@IsDisabled"
                @onclick="HandleClick"
                class="transition-target">
            @if (ChildContent != null)
            {
                @ChildContent
            }
            else
            {
                @if (Loading && LoadingIndicatorVariant != null)
                {
                    <BUILoadingIndicator Variant="@LoadingIndicatorVariant"
                                         Size="@Size"
                                         Color="@Color" />
                }
                else if (LeadingIcon != null)
                {
                    <BUISvgIcon Icon="@LeadingIcon" class="bui-button__icon bui-button__icon--leading" Size="@Size" />
                }
                @if (!string.IsNullOrWhiteSpace(Text))
                {
                    <span class="bui-button__text">@Text</span>
                }
                @if (TrailingIcon != null && !Loading)
                {
                    <BUISvgIcon Icon="@TrailingIcon" class="bui-button__icon bui-button__icon--trailing" Size="@Size" />
                }
            }
        </button>
    </bui-component>
};

    /* ========= Event Handlers ========= */

    private async Task HandleClick(MouseEventArgs args)
    {
        if (!IsDisabled)
        {
            await OnClick.InvokeAsync(args);
        }
    }
}