@using CdCSharp.BlazorUI.Components.Layout
@using CdCSharp.BlazorUI.Components.Utils
@using CdCSharp.BlazorUI.Core.Abstractions.Components

@namespace CdCSharp.BlazorUI.Components.Forms
@attribute [GenerateComponentInfo]

@inherits BUIInputComponentBase<CssColor, BUIInputColor, BUIInputVariant>

@implements IHasSize
@implements IHasLoading
@implements IHasShadow
@implements IHasColor
@implements IHasBackgroundColor
@implements IHasPrefix
@implements IHasSuffix
@implements IInputFamilyComponent

@{
    base.BuildRenderTree(__builder);
}

@code {
    private string _inputId = $"bui-input-color-{Guid.NewGuid():N}";
    private string _helperTextId = $"bui-helper-{Guid.NewGuid():N}";
    private bool _isOpen;
    private bool _isFocused;
    private bool _isDirty;
    private CssColor? _initialValue;
    private CssColor? _valueBeforeOpen;

    [Inject] private IClipboardJsInterop ClipboardJs { get; set; } = default!;

    // IHasSize
    [Parameter] public BUISize Size { get; set; } = BUISize.Medium;

    // IHasLoading
    [Parameter] public bool Loading { get; set; }
    [Parameter]
    public BUILoadingIndicatorVariant LoadingIndicatorVariant { get; set; } =
BUILoadingIndicatorVariant.CircularProgress;

    // IHasShadow
    [Parameter] public ShadowStyle? Shadow { get; set; }

    // IHasBackgroundColor
    [Parameter] public string? BackgroundColor { get; set; }

    // IHasColor
    [Parameter] public string? Color { get; set; }

    // IHasPrefix
    [Parameter] public string? PrefixText { get; set; }
    [Parameter] public string? PrefixIcon { get; set; }
    [Parameter] public string? PrefixColor { get; set; }
    [Parameter] public string? PrefixBackgroundColor { get; set; }

    // IHasSuffix
    [Parameter] public string? SuffixText { get; set; }
    [Parameter] public string? SuffixIcon { get; set; }
    [Parameter] public string? SuffixColor { get; set; }
    [Parameter] public string? SuffixBackgroundColor { get; set; }

    // Component-specific
    [Parameter] public string? Label { get; set; }
    [Parameter] public string? HelperText { get; set; }
    [Parameter] public string? Placeholder { get; set; } = "#000000";
    [Parameter] public bool ShowCopyButton { get; set; }
    [Parameter] public bool Clearable { get; set; }
    [Parameter] public ColorPickerDisplayMode DisplayMode { get; set; } = ColorPickerDisplayMode.Dropdown;
    [Parameter] public ColorOutputFormats OutputFormat { get; set; }
    [Parameter] public string RevertText { get; set; } = "Revert";
    [Parameter] public int SelectionWidth { get; set; } = 200;
    [Parameter] public int SelectionHeight { get; set; } = 150;

    public override BUIInputVariant DefaultVariant => BUIInputVariant.Outlined;

    private bool HasValue => CurrentValue != null;
    private bool IsFloated => _isFocused || HasValue || _isDirty;
    private string DisplayValue => CurrentValue?.ToString(OutputFormat) ?? "";

    public override void BuildComponentDataAttributes(Dictionary<string, object> dataAttributes)
    {
        base.BuildComponentDataAttributes(dataAttributes);
        dataAttributes[FeatureDefinitions.DataAttributes.Floated] = IsFloated.ToString().ToLowerInvariant();
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _initialValue = Value;
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (!_isFocused && !_isOpen && !EqualityComparer<CssColor>.Default.Equals(Value, CurrentValue))
        {
            _initialValue = Value;
        }
    }

    protected override IReadOnlyDictionary<BUIInputVariant, Func<BUIInputColor, RenderFragment>> BuiltInTemplates { get; } =
        new Dictionary<BUIInputVariant, Func<BUIInputColor, RenderFragment>>
        {
            [BUIInputVariant.Outlined] = c => c.RenderInput(),
            [BUIInputVariant.Filled] = c => c.RenderInput(),
            [BUIInputVariant.Standard] = c => c.RenderInput()
        };

    private RenderFragment RenderInput() => __builder =>
    {
        <bui-component @attributes="ComputedAttributes" @onkeydown="HandleKeyDown">

            <div class="bui-input__wrapper">

                <BUIInputOutline Label="@Label" For="@_inputId" Required="@Required" />
                <BUIInputPrefix PrefixText="@PrefixText" PrefixIcon="@PrefixIcon" Size="@Size" />

                <input type="text" id="@_inputId" class="bui-input__field" value="@DisplayValue"
                       placeholder="@(IsFloated? Placeholder : null)" readonly="@IsReadOnly" disabled="@IsDisabled"
                       @onchange="HandleInputChange" @onfocus="HandleFocus" @onblur="HandleBlur"
                       aria-label="@(string.IsNullOrWhiteSpace(Label) ? Placeholder : null)" aria-describedby="@_helperTextId"
                       aria-invalid="@IsError.ToString().ToLowerInvariant()"
                       aria-required="@Required.ToString().ToLowerInvariant()" />

                @if (ShowCopyButton && HasValue)
                {
                    <BUITooltip AutoCloseAfterMs="1500" Trigger="TooltipTrigger.Click" Placement="TooltipPlacement.Top"
                                Text="Copied!">
                        <_BUIBtn Icon="@BUIIcons.UI.Copy" AriaLabel="Copy color" OnClick="(e) => CopyToClipboard()"
                                 OnClickStopPropagation="false" />
                    </BUITooltip>
                }

                @if (Clearable && (HasValue || _isDirty) && !Disabled)
                {
                    <_BUIBtn Icon="@BUIIcons.UI.Close" AriaLabel="Clear" OnClick="(e) => Clear()" OnClickStopPropagation="true" />
                }

                <_BUIBtn Icon="@BUIIcons.MaterialIconsRound.i_palette" Disabled="@IsDisabled" AriaLabel="Open color picker"
                         OnClick="(e)=> TogglePicker()">
                    <div class="bui-input-color__preview-chess">
                        <div class="bui-input-color__preview-color"
                             style="background-color: @(CurrentValue?.ToString(ColorOutputFormats.Rgba) ?? "transparent")">
                        </div>
                    </div>
                </_BUIBtn>

                <BUIInputSuffix SuffixText="@SuffixText" SuffixIcon="@SuffixIcon" Size="@Size" />
                <BUIInputLoading Loading="@Loading" LoadingIndicatorVariant="@LoadingIndicatorVariant" Size="@Size" />

            </div>

            @if (_isOpen)
            {
                @if (DisplayMode == ColorPickerDisplayMode.Modal)
                {
                    <BUIDialog @bind-Open="_isOpen" Closable="true" CloseOnOverlayClick="true" CloseOnEscape="true" MinWidth="auto"
                               MaxWidth="fit-content">
                        <Content>
                            <BUIColorPicker @bind-Value="CurrentValue" OutputFormat="OutputFormat" SelectionWidth="SelectionWidth"
                                            SelectionHeight="SelectionHeight" Size="Size" Density="Density" ShowActions="true"
                                            RevertText="@RevertText" OnRevert="HandleRevert" />
                        </Content>
                    </BUIDialog>
                }
                else
                {
                    <div class="bui-input-color__dropdown-overlay" @onclick="ClosePicker"></div>
                    <div class="bui-input-color__dropdown" @onclick:stopPropagation="true">
                        <BUIColorPicker @bind-Value="CurrentValue" OutputFormat="OutputFormat" SelectionWidth="SelectionWidth"
                                        SelectionHeight="SelectionHeight" Size="Size" Density="Density" ShowActions="true" RevertText="@RevertText"
                                        OnRevert="HandleRevert" />
                    </div>
                }
            }

            <_BUIFieldHelper TValue="CssColor" Id="@_helperTextId" HelperText="@HelperText" ShowValidation="@IsError"
                             EditContext="@EditContext" For="@ValueExpression" />

        </bui-component>
    };

    private void HandleFocus(FocusEventArgs e)
    {
        _isFocused = true;
    }

    private void HandleBlur(FocusEventArgs e)
    {
        _isFocused = false;
        _isDirty = false;
    }

    private void HandleKeyDown(KeyboardEventArgs e)
    {
        if (_isOpen && e.Key == "Escape")
        {
            ClosePicker();
        }
    }

    private void HandleInputChange(ChangeEventArgs e)
    {
        if (IsReadOnly) return;

        string? value = e.Value?.ToString();

        if (string.IsNullOrWhiteSpace(value))
        {
            CurrentValue = null!;
            _isDirty = false;
            return;
        }

        try
        {
            CurrentValue = new CssColor(value);
            _isDirty = false;
        }
        catch
        {
            _isDirty = true;
        }
    }

    private void TogglePicker()
    {
        if (IsDisabled || IsReadOnly) return;

        if (!_isOpen)
        {
            _valueBeforeOpen = CurrentValue;
        }
        _isOpen = !_isOpen;
    }

    private void ClosePicker() => _isOpen = false;

    private void HandleRevert()
    {
        CurrentValue = _valueBeforeOpen!;
        ClosePicker();
    }

    private void Clear()
    {
        CurrentValue = _initialValue!;
        _isDirty = false;
    }

    private async Task CopyToClipboard()
    {
        if (CurrentValue != null)
        {
            await ClipboardJs.CopyTextAsync(DisplayValue);
        }
    }

    protected override bool TryParseValueFromString(string? value, out CssColor result, out string validationErrorMessage)
    {
        validationErrorMessage = string.Empty;

        if (string.IsNullOrWhiteSpace(value))
        {
            result = null!;
            return true;
        }

        try
        {
            result = new CssColor(value);
            return true;
        }
        catch
        {
            result = null!;
            validationErrorMessage = $"'{value}' is not a valid color.";
            return false;
        }
    }
}