@page "/demo/svgicon"

<PageTitle>Svg Icon - CdCSharp.BlazorUI</PageTitle>

<h1>BUISvgIcon</h1>

<h2>Basic Usage</h2>
<ComponentDemo Definition="@BasicUsageDemo" />

<h2>Material Icons Collection</h2>
<ComponentDemo Definition="@MaterialIconsDemo" />

<h2>UI Icons Collection</h2>
<ComponentDemo Definition="@UIIconsDemo" />

<h2>Sizes</h2>
<ComponentDemo Definition="@SizesDemo" />

<h2>Colors</h2>
<ComponentDemo Definition="@ColorsDemo" />

<h2>With Title (Accessibility)</h2>
<ComponentDemo Definition="@TitleDemo" />

<h2>Clickable Icons</h2>
<ComponentDemo Definition="@ClickableDemo" />

@code {
    [CascadingParameter] public BUIPalette Palette { get; set; } = default!;

    private int _clickCount = 0;

    private ComponentDemoDefinition BasicUsageDemo => new()
    {
        Demo = RenderBasicUsage(),
        Code = """ """
    };

    private RenderFragment RenderBasicUsage() => __builder =>
    {
        <BUISvgIcon Icon="@BUIIcons.UI.Home" />
    };

    private ComponentDemoDefinition MaterialIconsDemo => new()
    {
        Demo = RenderMaterialIcons(),
        Code = """ """
    };

    private RenderFragment RenderMaterialIcons() => __builder =>
    {
        <BUIGrid Gap="1rem" Direction="GridDirection.Row">
            <BUIGridItem Auto="true">
                <BUISvgIcon Icon="@BUIIcons.MaterialIconsOutlined.i_favorite" />
            </BUIGridItem>
            <BUIGridItem Auto="true">
                <BUISvgIcon Icon="@BUIIcons.MaterialIconsOutlined.i_star" />
            </BUIGridItem>
            <BUIGridItem Auto="true">
                <BUISvgIcon Icon="@BUIIcons.MaterialIconsOutlined.i_settings" />
            </BUIGridItem>
            <BUIGridItem Auto="true">
                <BUISvgIcon Icon="@BUIIcons.MaterialIconsOutlined.i_search" />
            </BUIGridItem>
            <BUIGridItem Auto="true">
                <BUISvgIcon Icon="@BUIIcons.MaterialIconsOutlined.i_shopping_cart" />
            </BUIGridItem>
        </BUIGrid>
    };

    private ComponentDemoDefinition UIIconsDemo => new()
    {
        Demo = RenderUIIcons(),
        Code = """ """
    };

    private RenderFragment RenderUIIcons() => __builder =>
    {
        <BUIGrid Gap="1rem" Direction="GridDirection.Row">
            <BUIGridItem Auto="true">
                <BUISvgIcon Icon="@BUIIcons.UI.Home" />
            </BUIGridItem>
            <BUIGridItem Auto="true">
                <BUISvgIcon Icon="@BUIIcons.UI.Search" />
            </BUIGridItem>
            <BUIGridItem Auto="true">
                <BUISvgIcon Icon="@BUIIcons.UI.Settings" />
            </BUIGridItem>
            <BUIGridItem Auto="true">
                <BUISvgIcon Icon="@BUIIcons.UI.Notifications" />
            </BUIGridItem>
            <BUIGridItem Auto="true">
                <BUISvgIcon Icon="@BUIIcons.UI.Email" />
            </BUIGridItem>
        </BUIGrid>
    };

    private ComponentDemoDefinition SizesDemo => new()
    {
        Demo = RenderSizes(),
        Code = """ """
    };

    private RenderFragment RenderSizes() => __builder =>
    {
        <BUIGrid Gap="1rem" Direction="GridDirection.Row" AlignItems="GridAlignItems.Center">
            <BUIGridItem Auto="true">
                <BUISvgIcon Icon="@BUIIcons.MaterialIconsOutlined.i_star" Size="SizeEnum.Small" />
            </BUIGridItem>
            <BUIGridItem Auto="true">
                <BUISvgIcon Icon="@BUIIcons.MaterialIconsOutlined.i_star" Size="SizeEnum.Medium" />
            </BUIGridItem>
            <BUIGridItem Auto="true">
                <BUISvgIcon Icon="@BUIIcons.MaterialIconsOutlined.i_star" Size="SizeEnum.Large" />
            </BUIGridItem>
        </BUIGrid>
    };

    private ComponentDemoDefinition ColorsDemo => new()
    {
        Demo = RenderColors(),
        Code = """ """
    };

    private RenderFragment RenderColors() => __builder =>
    {
        <BUIGrid Gap="1rem" Direction="GridDirection.Row">
            <BUIGridItem Auto="true">
                <BUISvgIcon Icon="@BUIIcons.UI.Favorite" Color="@Palette.Primary" />
            </BUIGridItem>
            <BUIGridItem Auto="true">
                <BUISvgIcon Icon="@BUIIcons.UI.Favorite" Color="@Palette.Secondary" />
            </BUIGridItem>
            <BUIGridItem Auto="true">
                <BUISvgIcon Icon="@BUIIcons.UI.Favorite" Color="@Palette.Error" />
            </BUIGridItem>
            <BUIGridItem Auto="true">
                <BUISvgIcon Icon="@BUIIcons.UI.Favorite" Color="@Palette.Success" />
            </BUIGridItem>
            <BUIGridItem Auto="true">
                <BUISvgIcon Icon="@BUIIcons.UI.Favorite" Color="@Palette.Warning" />
            </BUIGridItem>
        </BUIGrid>
    };

    private ComponentDemoDefinition TitleDemo => new()
    {
        Demo = RenderTitle(),
        Code = """ """
    };

    private RenderFragment RenderTitle() => __builder =>
    {
        <BUISvgIcon Icon="@BUIIcons.UI.Info" Title="Information icon" />
    };

    private ComponentDemoDefinition ClickableDemo => new()
    {
        Demo = RenderClickable(),
        Code = """ """
    };

    private RenderFragment RenderClickable() => __builder =>
    {
        <div>
            <BUISvgIcon Icon="@BUIIcons.MaterialIconsSharp.i_thumb_up"
                        Color="@Palette.Primary"
                        Size="SizeEnum.Large"
                        OnClick="@HandleIconClick" />
            <p>Clicked @_clickCount times</p>
        </div>
    };

    private void HandleIconClick()
    {
        _clickCount++;
    }
}